body{
	background-color:aqua;
	font-family:'Century Gothic';
	}

h1{
	font-family:'Comic Sans MS';
	text-align:center;
	font-size:60px;
	color:darkblue; 
	}
h4{
	font-style:italic;
	text-align:right;
	font-family:'Arial';
	}
p{	
	text-indent:50px;
	font-family:'Verdana';
	}
	
	
h3{
	font-variant:small-caps;
}
.p1{
	color:salmon;
	text-align:center;	
	}
#p2{	
	line-height: 30px;
	text-align:center;	
	color:darkred;	
	}
	